<%= form_for @student, html: { class: 'pure-form pure-form-stacked'} do |f| %>
  <% if @student.errors.any? %>
    <h2><%= pluralize(@student.errors.count, "Error") %></h2>
    <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="pure-control-group">
    <%= f.label :code, 'Codigo' %>
    <%= f.text_field :code, required: :true %>
  </div>
  <div class="pure-control-group">
    <%= f.label :firstName, 'Nombre'  %>
    <%= f.text_field :firstName, required: :true %>
  </div>
  <div class="pure-control-group">
    <%= f.label :lastName, 'Apellidos' %>
    <%= f.text_field :lastName, required: :true %>
  </div>
  <div class="pure-control-group">
    <%= f.label :age, 'Edad' %>
    <%= f.number_field :age, required: :true %>
  </div>
  <div class="pure-control-group">
    <%= f.label :dni, 'DNI' %>
    <%= f.text_field :dni, required: :true %>
  </div>
  <div class="pure-control-group">
    <%= f.label :firstModule, 'Primer Módulo' %>
    <%= f.text_field :firstModule, required: :true %>
  </div>
  <div class="pure-control">
    <%= f.submit 'Guardar' , class: 'button success' %>
  </div>
<% end %>