<%= form_tag(students_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Buscar Alumnos" %>
  <%= submit_tag "Buscar", class: "button" %>
<% end %>
<h1 class="center">Lista de Alumnos</h1>
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>DNI</th>
        <th>Fecha</th>
        <th>Primer Módulo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.code %></td>
          <td><%= student.firstName %></td>
          <td><%= student.lastName %></td>
          <td><%= student.age %></td>
          <td><%= student.dni %></td>
          <td><%= student.created_at.strftime("%m/%Y")  %> </td>
          <td><%= student.firstModule%> </td>
          <td><%= link_to 'Ver' , student_path(student), class: 'label success' %> <%= link_to 'Editar', edit_student_path(student), class: 'label'%> <%= link_to 'Boleta de Notas' , student_report_cards_path(student), class: 'label'%> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
<%= link_to 'Nuevo Alumno', new_student_path , class: 'button' %>
