<h2><%= @student.firstName %></h2>
<h4><%= @student.lastName %></h4>
<p><strong> Codigo: </strong> <%= @student.code %></p>
<p><strong> DNI: </strong> <%= @student.dni %></p>
<p><strong> Edad: </strong> <%= @student.age %></p>
<p><strong> Fecha de Inicio: </strong> <%= @student.created_at %></p>
<p><strong> Primer Módulo: </strong> <%= @student.firstModule %></p>
<%= link_to 'Regresar a Alumnos', students_path, class: 'button' %>