<h1 class="center">Boleta de Notas</h1>
<b>Nombre: </b>
<p><%= @student.firstName %> <%= @student.lastName %></p>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Programa técnico</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @report_cards.each do |report_card| %>
      <tr>
        <td><%= @num = @num + 1 %></td>
        <td><%= report_card.study_module.name %></td>
        <td><%= link_to 'Ver', student_report_card_path(@student, report_card), class: 'label success' %> <%= link_to 'Añadir notas', edit_student_report_card_path(@student, report_card), class: 'label' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Regresar a Alumnos', students_path, class: 'button' %>
