<h1 class="center">Boleta de Notas</h1>

<div class="ReportCard">
  <div class="ReportCard-head">
    <h3 class="ReportCard-mainTitle">INSTITUTO TÉCNICO DE OPERADORES MINEROS OPERMINE</h3>
    <p class="ReportCard-subheader">ESPECIALISTAS EN OPERACIONES MINERAS MAQUINARIA PESADA</p>
    <p class="ReportCard-subsubheader"> CENTRO DE EDUCACIÓN TECNICO PRODUCTIVO</p>
    <%= image_tag 'logo-ministerio-educacion-peru.png', class: 'ReportCard-ministeryLogo' %>
    <%= image_tag 'logo-opermine.png', class: 'ReportCard-imgLogo' %>
    <h2 class="ReportCard-title">RESULTADOS ACADÉMICOS</h2>
    <p class="ReportCard-subtitle"> PROGRAMA DE CAPACITACIÓN TÉCNICA</p>
    <p class="ReportCard-headNameModule"> En <%= @report_card.study_module.name %></p>
  </div>
  <div class="ReportCard-details">
    <p><strong>ALUMNO (A)</strong> : <%= @report_card.student.firstName%> <%= @report_card.student.lastName%></p>
    <p><strong>CODIGO DE ALUMNO</strong> : <%= @report_card.student.code%> </p>
    <p><strong>CERTIFICADO Nº </strong> : <%= @report_card.id %> </p>
    <p><strong>PROGRAMA TÉCNICO Nº </strong> : TRANSPORTE TERRESTRE Y OPERACION DE EQUIPO PESADO </p>
    <p><strong>MÓDULO Nº </strong> : <%= @report_card.study_module.name %> </p>
    <p>HABIENDO OBTENIDO LAS SIGUIENTES CALIFICACIONES  </p>
  </div>
  <div class="ReportCard-contentCalifactions">
    <table class="ReportCard-tableCalifications">
      <thead>
        <tr>
          <th>Nº</th>
          <th>CURSOS DESARROLLADOS</th>
          <th>PROMEDIO</th>
          <th>OBS.</th>
        </tr>
      </thead>
      <tbody>
        
        <% @detail_report_cards.each do |detail|%>
        <tr>
          <td><%= @num = @num + 1 %></td>
          <td><%= detail.course.name %></td>
          <% if detail.calification >12 %>
            <td class="blue bold">
              <%= detail.calification %>
            </td>
          <% else %>
            <td class="red">
              <%= detail.calification %>
            </td>
          <% end %>
          <td></td> 
        </tr>
        <% end %>
        <tr>
          <th></th>
          <th>PROMEDIO FINAL DEL CURSO</th>
          <th> 
            <%= '%.2i' %@final_average %> 
          </th>
        </tr>
      </tbody>
    </table>
    <p class="ReportCard-date">
      <strong>Fecha de entrega : </strong> <%= DateTime.now.strftime("%d/%m/%Y") %>
    </p>
  </div>
  <div class="ReportCard-footer">
    <div class="ReportCard-firm">
      <div class="ReportCard-firmText">
        <p>Firma y Sello</p>
        <p>Director</p>
      </div>
    </div>
    <div class="ReportCard-firm">
      <div class="ReportCard-firmText">
        <p>Firma y Sello</p>
        <p>Coordinación academica</p>
      </div>
    </div>
  </div>
</div>

<a href="#" onclick="window.print();" class="print button">
    Imprimir
    <i class="fa fa-print"></i>
</a>
<br>
<%= link_to 'Regresar a Boletas', student_report_cards_path(@student), class: 'button' %>
