<div class="Layout-header">
  <nav class="MainHeader">
    <div class="MainHeader-logo">
      <div class="Logo">
        <%= image_tag 'logoNormal.png', class: 'Logo-img' %>
      </div>
    </div>
    <div class="MainHeader-links">
      <div class="Enlaces">
        <ul class="Enlaces-list">
          <li class="Enlaces-item">
            <%= link_to 'Inicio', root_path, class: 'Enlaces-link'  %>
          </li>
          <li class="Enlaces-item">
            <%= link_to 'Alumnos', students_path, class: 'Enlaces-link'  %>
          </li>
          <li class="Enlaces-item">
            <%= link_to 'Módulos', study_modules_path, class: 'Enlaces-link'  %>
          </li>
          <li class="Enlaces-item">
            <%= link_to 'Cursos', courses_path, class: 'Enlaces-link'  %>
          </li>
          <% if user_signed_in? %>
            <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: 'Enlaces-link' %>
            <% else %>  
            <%= link_to 'Ingresar', new_user_session_path, class: 'Enlaces-link' %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>