<div class="Main">
  <div class="Main-welcome">
    <div class="Welcome">
      <div class="Welcome-top">
        <div class="LogoPage">
          <%= image_tag 'logo-opermine.png', class: "LogoPage-image" %>
        </div>
        <h1 class="Welcome-title">Sistema de Notas Opermine</h1>
      </div>
      <div class="Welcome-actions"> 
        <% if user_signed_in? %>
          <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: 'button-xlarge pure-button pure-button-primary' %>
        <% else %>  
          <%= link_to 'Ingresar', new_user_session_path, class: 'button-xlarge pure-button pure-button-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
