<%= form_for @study_module, html: {class: 'pure-form pure-form-stacked'} do |f| %>
  <% if @study_module.errors.any? %>
    <h2> <%= pluralize(@study_module.errors.count, "Error") %></h2>
    <ul>
      <% @study_module.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="pure-control-group">
    <%= f.label :name, 'Nombre'%>
    <%= f.text_field :name %>
  </div>
  <h4>Cursos Pertenecientes: </h4>
  <div class="pure-control-group">
    <%= label_tag "Cursos" %>
    <%= hidden_field_tag "study_module[course_ids][]", nil %>
    <% @courses.each do |course| %>
      <p><%= check_box_tag "study_module[course_ids][]", course.id, @study_module.courses.include?(course) %> <%= course.name %></p>
    <% end %>
  </div>
  

  <div class="pure-control-group">
    <%= f.submit 'Guardar' , class: 'button success' %>
  </div>
<% end %>