<h1 class="center">Nuevo Módulo</h1>
<table>
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @study_modules.each do |study_module|%>
    <tr>
      <td><%= study_module.id%></td>
      <td><%= study_module.name %></td>
      <td>
        <%= link_to 'Editar', edit_study_module_path(study_module), class: 'label' %>
        <%= link_to 'Eliminar', study_module_path(study_module), method: :delete, data: {confirm: 'Esta seguro'}, class: 'label alert' %>
        <%= link_to 'Ver', study_module_path(study_module), class: 'label success' %>
      </td>
    </tr>
    <% end %> 
  </tbody>
</table>
<br>
<%= link_to 'Nuevo Módulo', new_study_module_path, class: 'button' %>