<%= form_for @course, html: { class: 'pure-form pure-form-stacked'} do |f|%>
 <% if @course.errors.any? %>
    <h2><%= pluralize(@course.errors.count, "Error") %></h2>
    <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="pure-control-group">
    <%= f.label :name, 'Nombre' %>
    <%= f.text_field :name, required: :true %>
  </div>
  <div class="pure-control-group">
    <%= f.submit 'Guardar', class: 'button success' %>
  </div>
<% end %>