<h2 class="center">Lista de Cursos</h2>
<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>#</th>  
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= @num = @num + 1 %></td>
        <td><%= course.name %></td>
        <td><%= link_to 'Editar', edit_course_path(course),class: 'label' %> - <%= link_to 'Ver', course_path(course), class: 'label success' %> - <%= link_to 'Eliminar', course_path(course), class: 'label alert' ,method: :delete, data: {confirm: 'Esta seguro?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Nuevo Curso', new_course_path, class: 'button' %>
