
$colorBlue: #FAFAFA;
$colororange: #FF5722;
$colorHeader: #E64A19;
.Main{
  &-welcome{
    width: 480px;
    margin: 0 auto;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}

.Welcome{
  background: $colorBlue;
  box-shadow: 1px 1px 7px rgba(0,0,0,0.5);
  padding: 1em .5em;
  &-title{
    margin: 0;
    text-align: center;
    color: $colororange;
    text-transform: uppercase;
  }
  &-actions{
    text-align: center;
  }
}

.LogoPage{
  width: 200px;
  margin: 0 auto;
  &-image{
    width: 100%;
    text-align: center;
  }
}

.Layout{
  &-header{
    max-width: 1024px;
    margin: 0 auto;
    background: $colorHeader;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  }
  &-mainContent{
    max-width: 1024px;
    margin: 1em auto;
    background: #FAFAFA;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.9);
  }
}

.MainHeader{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em 0;
  &-logo{
    width: 200px;
  }
  &-links{
    margin-right: 2em;
  }
}
.Logo{
  margin-left: 2em;
  &-img{
    width: 100%;
  }
}
.Enlaces{
  display: inline-block;
  &-item{
    display: inline-block;
  }
  &-link{
    color: white;
    padding-left: 1em;
  }
}

.Content{
  padding: .7em .5em;
}


.ReportCard{
  border: 1px solid gray;
  padding: 1em;
  &-head{
    position: relative;
  }
  &-mainTitle{
    border: 1px solid black;
    background: rgba(gray,0.1);
    padding: .5em;
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
  }
  &-subheader{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size:0.9em;
  }
  &-subsubheader{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size:0.75em;
  }
  &-ministeryLogo{
    text-align:center;
    display: block;
    margin: 0 auto;
    width: 180px;
  }
  &-imgLogo{
    width: 160px;
    position: absolute;
    top: 4.3em;
    left : 0;
  }
  &-subtitle{
    margin:0 ;
    padding:0;
    text-align: center;
    font-size: .85em;
  }
  &-headNameModule{
    margin:0 ;
    padding:0;
    text-align: center;
    font-size: .85em;
    text-transform: uppercase;
    font-weight: bold;
  }
  &-title{
    text-align: center;
    margin : 0;
    font-size: 1.3em;
    font-weight: bold;
  }
  &-details{
    p{
      margin: 0;
      padding: 0;
      font-size: .8em;  
    }
    strong{
      margin: 0;
      padding: 0;
      width: 40%;
      text-align: right;
    }
  }
  &-element{
    width:50%;
  }
  &-contentCalifactions{
    margin: 1em 0;
    table{
      width:100%;
    }
  }
  &-tableCalifications{
    td{
      line-height: 8px;
    }
  }

  &-footer{
    display:flex;
    justify-content: space-between;
    margin-top: 6em;

  }
  &-date{
    
  }
  &-firm{
    width: 40%;
    text-align: center;
    border-top: 1px dashed gray;
  }
  &-firmText{
    p{
      font-size: .8em;
      margin: 0;
      padding: 0;
    }
  }
}





.red{
  color: red;
}
.blue{
  color: blue;
}
.bold {
  font-weight: bold;
}

.center{
  text-align: center;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.print{
  text-decoration: none;
  font-size: 1.4em;
  color: $colororange;
  margin-top: 18px;
  display: block; ;
}

@media print{
  body * { 
    visibility: hidden;
    font-size: 10px;
    } 
  .ReportCard * {visibility: visible;}
}

